/* src/app.css */
@import "tailwindcss";

@font-face {
  font-family: "Monoton";
  src: url("/fonts/Monoton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost-Rgular";
  src: url("/fonts/Jost-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost-SemiBold";
  src: url("/fonts/Jost-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Define your custom colors and design tokens */
@theme {
  --color-primary-50: #f2fbfa;
  --color-primary-100: #d4f3ee;
  --color-primary-200: #a9e6de;
  --color-primary-300: #77d1ca;
  --color-primary-400: #4ab7b1;
  --color-primary-500: #329f9b;
  --color-primary-600: #257c7b;
  --color-primary-700: #216464;
  --color-primary-800: #1f4f50;
  --color-primary-900: #1d4444;
  --color-primary-950: #0c2527;

  --color-secondary-50: #faf7ec;
  --color-secondary-100: #f4eccd;
  --color-secondary-200: #ead89e;
  --color-secondary-300: #dbb658;
  --color-secondary-400: #d3a23c;
  --color-secondary-500: #c48d2e;
  --color-secondary-600: #a86e26;
  --color-secondary-700: #875021;
  --color-secondary-800: #714222;
  --color-secondary-900: #613822;
  --color-secondary-950: #381c10;

  --color-success-50: #f2fbf3;
  --color-success-100: #e2f6e6;
  --color-success-200: #c6eccd;
  --color-success-300: #99dca6;
  --color-success-400: #65c377;
  --color-success-500: #3ea352;
  --color-success-600: #308942;
  --color-success-700: #286d36;
  --color-success-800: #24572e;
  --color-success-900: #1f4828;
  --color-success-950: #0c2712;

  --color-warning-50: #fef9ee;
  --color-warning-100: #fcf1d8;
  --color-warning-200: #f7e0b1;
  --color-warning-300: #f2c87f;
  --color-warning-400: #eca74b;
  --color-warning-500: #e78d26;
  --color-warning-600: #d9741d;
  --color-warning-700: #b45a1a;
  --color-warning-800: #8f471d;
  --color-warning-900: #743c1a;
  --color-warning-950: #3e1d0c;

  --color-error-50: #fff1f2;
  --color-error-100: #ffe4e7;
  --color-error-200: #fecdd5;
  --color-error-300: #fca5b3;
  --color-error-400: #f9627d;
  --color-error-500: #f24165;
  --color-error-600: #df1f50;
  --color-error-700: #bc1443;
  --color-error-800: #9e133f;
  --color-error-900: #87143b;
  --color-error-950: #4b061b;

  --color-info-50: #f3f6fc;
  --color-info-100: #e6eef8;
  --color-info-200: #c7dbf0;
  --color-info-300: #96bde3;
  --color-info-400: #5d9ad3;
  --color-info-500: #387cbc;
  --color-info-600: #2863a1;
  --color-info-700: #224f82;
  --color-info-800: #20456c;
  --color-info-900: #1f3b5b;
  --color-info-950: #15253c;

  --color-neutral-50: #f7f7f7;
  --color-neutral-100: #ededed;
  --color-neutral-200: #dfdfdf;
  --color-neutral-300: #c8c8c8;
  --color-neutral-400: #b7b7b7;
  --color-neutral-500: #999999;
  --color-neutral-600: #888888;
  --color-neutral-700: #7b7b7b;
  --color-neutral-800: #676767;
  --color-neutral-900: #545454;
  --color-neutral-950: #363636;

  /* Semantic colors */
  --color-surface: #ffffff;
  --color-background: var(--color-neutral-200);
  --color-text: #1b1b1b;
  --color-link: var(--color-info-500);
  --color-muted: #64748b;
  --font-monoton: "Monoton", cursive;
  --font-jost: "Jost", sans-serif;
  --font-jost-semibold: "Jost-SemiBold", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-jost);
    color: var(--color-text);
  }
}

@layer components {
}
